.pokemon {
    top: 20%;
    left: 30%;
    position: absolute;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}


footer {
    top: 80%;
    left: 45%;
    position: absolute;
}