.pokemon {
    top: 25%;
    left: 30%;
    position: absolute;
    font-family: sans-serif;
    align-items: space-between;
}

.pokemon p {
    width: 600px;
}

.statbar {
    background-color: lightslategray;
    border: 1px solid grey;
    width: calc(100% * 45/255);
    height: 20px;
    justify-content: center;
}

footer {
    top: 80%;
    left: 45%;
    position: absolute;
}